In [59]:
# import pandas for data anlysis and manipulations
import numpy as np

import pandas as pd

In [60]:
df = pd.read_csv("Data.csv")
df.head()

,Country Name,Country Code,Time,Time Code,"Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]","Life expectancy at birth, total (years) [SP.DYN.LE00.IN]","Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]",GDP (current US$) [NY.GDP.MKTP.CD],"Population, total [SP.POP.TOTL]"
0,Afghanistan,AFG,1960,YR1960,7.282,32.535,..,537777811.111111,8622466
1,Afghanistan,AFG,1961,YR1961,7.284,33.068,..,548888895.555556,8790140
2,Afghanistan,AFG,1962,YR1962,7.292,33.547,..,546666677.777778,8969047
3,Afghanistan,AFG,1963,YR1963,7.302,34.016,228.9,751111191.111111,9157465
4,Afghanistan,AFG,1964,YR1964,7.304,34.494,225.1,800000044.444444,9355514

In [51]:
# checking for the data shape
df.shape

(13545, 9)

In [52]:
# checking for the features in the dataset
df.columns

Index(['Country Name', 'Country Code', 'Time', 'Time Code',
       'Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]',
       'Life expectancy at birth, total (years) [SP.DYN.LE00.IN]',
       'Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]',
       'GDP (current US$) [NY.GDP.MKTP.CD]',
       'Population, total [SP.POP.TOTL]'],
      dtype='object')

In [53]:
# changing the column names 

column_name_changes = {"Time": "year", "Country Name": "country", "Country Code": "country_code",
                      'Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]': 'infant_Mortality',
                      'Life expectancy at birth, total (years) [SP.DYN.LE00.IN]': 'life_expectancy',
                      'Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]': 'fertility_rate', 
                      'Population, total [SP.POP.TOTL]': 'population',
                      'GDP (current US$) [NY.GDP.MKTP.CD]': 'GDP'}

In [54]:
df.rename(columns=column_name_changes, inplace=True)
df.head()

,country,country_code,year,Time Code,fertility_rate,life_expectancy,infant_Mortality,GDP,population
0,Afghanistan,AFG,1960,YR1960,7.282,32.535,..,537777811.111111,8622466
1,Afghanistan,AFG,1961,YR1961,7.284,33.068,..,548888895.555556,8790140
2,Afghanistan,AFG,1962,YR1962,7.292,33.547,..,546666677.777778,8969047
3,Afghanistan,AFG,1963,YR1963,7.302,34.016,228.9,751111191.111111,9157465
4,Afghanistan,AFG,1964,YR1964,7.304,34.494,225.1,800000044.444444,9355514

In [55]:
# checking for the unique values in the year column
df['year'].unique()

array([1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022])

In [56]:
# dropping the columns that are not required
df2 = df.drop(columns=['Time Code'])
df2.head()

,country,country_code,year,fertility_rate,life_expectancy,infant_Mortality,GDP,population
0,Afghanistan,AFG,1960,7.282,32.535,..,537777811.111111,8622466
1,Afghanistan,AFG,1961,7.284,33.068,..,548888895.555556,8790140
2,Afghanistan,AFG,1962,7.292,33.547,..,546666677.777778,8969047
3,Afghanistan,AFG,1963,7.302,34.016,228.9,751111191.111111,9157465
4,Afghanistan,AFG,1964,7.304,34.494,225.1,800000044.444444,9355514

In [57]:
# checking for the total number of unique country
len(df2['country'].unique())

215

In [58]:
# checking for the total number of unique years in the dataset
len(df2['year'].unique())

63

In [48]:
# save the dataset

df2.to_csv('Data2.csv', index=False)